{% extends 'index.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link rel="stylesheet" href="{% static 'assets/CSS/form.css'%}">
{% endblock head %}
{% block navlink %}
  <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
{% endblock navlink %}
{% block header %}
  <div class="masthead-content">
    <div class="container swing animated">
      <div class="middle">
        <h1>Let's Start!</h1>

        <!--  Fancy inputs  -->
        <form method="post" action="/add/">
          {% csrf_token %}
          <!--  Fancy inputs  -->
          {#          <input type="text" value="{{ room_id }}" name="room_id" style="display: none">#}
          <div id="fancy-inputs">
            <label class="input">
              <input type="text" name="room_id" required>
              <span><span>Room Id</span></span>
            </label>
            <label class="input">
              <input type="text" name="name" required>
              <span><span>Awesome Name</span></span>
            </label>
            <label class="input" for="age">
              <span><span>Age Group</span></span>
            </label>
            <select class="form-control select-input" name="age" required>
              <option default>Select Age</option>
              <option>12-15</option>
              <option>16-18</option>
              <option>19-24</option>
              <option>25-35</option>
              <option>36-45</option>
              <option>45-60</option>
              <option>60+</option>
            </select>
          </div>
          <input type="submit" class="btn" value="Start Game"/>
        </form>
      </div>
    </div>
  </div>
  <script>
  const key = document.querySelector('.key')
  const keyText = key.innerText
  const copy = document.querySelector('.copy')
  const copied = document.querySelector('.copied')
  key.addEventListener('mouseover', () => copy.classList.remove('hide'))
  key.addEventListener('mouseleave', () => copy.classList.add('hide'))
  key.addEventListener('click', () => {
  copy.classList.add('hide')
  copied.classList.remove('hide')
  let helperInput = document.createElement('input')
  document.body.appendChild(helperInput)
  helperInput.value = keyText
  helperInput.select()
  document.execCommand('copy')
  document.body.removeChild(helperInput)
  setTimeout( () => {
  copied.classList.add('hide')
  }, 2000)
  })
  </script>
{% endblock header %}